body{
font:15px Arial, Helvetica, sans-serif;
padding: 0;
margin: 0;
background-color: #f4f4f4;
}

/* Global */
.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
}

/* Header */
header{
    color: #35424a;
    padding-right: 25px;
    padding-top: 1px;
}

#Elements{
    float: right;
    letter-spacing: 3px;
    word-spacing: 10px;
    margin-right: 9px;
}

#Elements2{
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 10px;
}

#Name{
    float: left;
    letter-spacing: 3px;
    word-spacing: 10px;
    padding-left: 50px;
}

a{ 
    color: #0b212e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

a:hover{
    -webkit-transition: 0.5s ease;
            transition: 0.5s ease;
    margin-right: 9px;
}

/* Main */
body{
    min-height: 400px;
    background: url('../shivamrsaheb.github.io/websitebackground.png') no-repeat 0 0px;
    background-size: cover;
    text-align: center;
}

textarea {
	resize: none;
}
.form-label {
	font-size: 12px;
	color: #5e9bfc;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;
}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}
.form-control:focus {
	box-shadow: none;
	border-color: #5e9bfc;
}
.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #999 
}
.btn-start-order {
	background: 0 0 #ffffff;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
	border-color: #5e9bfc;
	color: #5e9bfc;
}