body{
font:15px/1.5 Arial, Helvetica, sans-serif;
padding: 0;
margin: 0;
background-color: #f4f4f4;
}

/* Global */
.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
}

/* Header */
header{
    background: #35424a;
    color: #ffa500;
    padding-left: 25px;
    padding-top: 1px;
    border-bottom: #ffa500 3px solid;
    letter-spacing: 3px;
    word-spacing: 10px;
    text-align: center;
}

header a{ 
    color: #ffa500;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

/* Main */
#Main{
    min-height: 400px;
    background-image: url('../shivamrsaheb.github.io/websitebackground.png') no-repeat;
}