body{
font:15px/1.5 Arial, Helvetica, sans-serif;
padding: 0;
margin: 0;
background-color: #f4f4f4;
}

/* Global */
.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
}

/* Header */
header{
    color: #35424a;
    padding-right: 25px;
    padding-top: 1px;
}

#Elements{
    float: right;
    letter-spacing: 3px;
    word-spacing: 10px;
    padding-right: 25px;
}

#Name{
    float: left;
    letter-spacing: 3px;
    word-spacing: 10px;
    padding-left: 25px;
}

header a{ 
    color: #0b212e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

/*
a:hover{
    background-color: azure;
    border-radius: 30px 30px 30px 30px;
    padding: 5px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
    transition: box-shadow 1s;
    -webkit-transition: box-shadow 1s;
}
*/

/* Main */
body{
    min-height: 400px;
    background: url('../shivamrsaheb.github.io/websitebackground.png') no-repeat 0 0px;
    background-size: cover;
    text-align: center;
}